<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Sessions </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item *ngFor="let session of listSessions">
      <ion-button
        routerLink="/tabs/session"
        [queryParams]="{session:session | json }"
        color="light"
        class="tab2-sessionbutton"
      >
        <div class="tab2-sessionbutton-content">
          <span>{{session.title}}</span>
          <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
        </div>
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>
