<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Conférences
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="tab1-content">
    <ion-img class="img-logo" src="assets/image/terre.jpg"></ion-img>
    <div class="tab1-description">
      <ion-label class="tab1-title">Conférences</ion-label>
      <ion-label class="tab1-date">25/01/2021 au 27/01/2021</ion-label>
    </div>
    <div class="tab1-buttons">
      <ion-button class="tab1-navbutton" expand="block">Voir les sessions</ion-button>
      <ion-button class="tab1-navbutton" expand="block">Voir les présentateurs</ion-button>
    </div>
  </div>
</ion-content>
