<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Présentateurs </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Présentateurs</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item *ngFor="let speaker of listSpeakers">
      <ion-button
        routerLink="/tabs/speaker"
        [queryParams]="{speaker:speaker | json }"
        color="light"
        class="tab3-speakerbutton"
      >
        <div class="tab3-speakerbutton-content">
          <span>{{speaker.name}}</span>
          <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
        </div>
      </ion-button>

      <!--<ion-button expand="full" fill="outline" onclick="">
        <ion-label>
          
        </ion-label>
      </ion-button>-->
    </ion-item>
  </ion-list>
</ion-content>
