.tab2-notecontent {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 12%;

    h1 {
        width: 75%;
        margin-bottom: 5%;
        text-align: center;
    }

    .note-textarea{
        width: 75%;
        border: 1;
        border-style: solid;
        margin: 2%;
    }

    .note-savebutton{
        height: auto;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}